body::before {
    display: block;
    content: "";
    height: 4rem;
}

.map iframe {
    border-radius: 0.5rem;
}


@media (min-width: 768px) {
    .news-input {
        width: 50%;
    }
}